<% data.site.generals.each do |_, general| %>

<footer id="footer-sotto">
  <div>
    <p><%= general.footer_info_generiche %></p>
    <p><%= general.footer_partita_iva %></p>
    <a href="/privacy.html">Informativa sulla Privacy</a>
    <a href="https://www.fsansalvadore.com/" target="_blank">Credits</a>
  </div>
  <div class="footer-social">
    <% if general.linked_in %>
      <a href="<%= general.linked_in %>" target="_blank" class="fa fa-linkedin"></a>
    <% end %>
    <% if general.facebook %>
      <a href="<%= general.facebook %>" target="_blank" class="fa fa-facebook"></a>
    <% end %>
    <% if general.instagram %>
      <a href="<%= general.instagram %>" target="_blank" class="fa fa-instagram"></a>
    <% end %>
  </div>
</footer>

<% end %>
