<% data.site.generals.each do |_, general| %>

<div id="header-sopra">
  <div id="interno-sinistra-h">
    <p>
      <%= rich_text(general.informazioni_orario) %>
    </p>
  </div>
  <div id="interno-destra-h">
    <ul>
      <li>
        <img src="/images/icone/maps-and-flags-green.svg" alt="icon-position"><p><%= general.informazioni_indirizzi %></p>
      </li>
      <li>
        <img src="/images/icone/envelope-green.svg" alt="icon-envelope"><p><a href="mailto:<%= general.informazioni_email %>" target="_blank"><%= general.informazioni_email %></a></p>
      </li>
      <li>
        <img src="/images/icone/call-answer-green.svg" alt="icon-phone"><p><a href="tel:<%= general.informazioni_telefono.gsub(" ", "") %>"><%= general.informazioni_telefono %></a></p>
      </li>
    </ul>
  </div>
</div>
<div id="header">
  <a href="/" alt="Federica Burzio - Psicologa Psicoterapeuta Torino"><img class="logo" src="<%= general.logo_principale.url %>" alt="logo-Federica-Burzio"><div class="avatar-foto"></div></a>
  <div id="link-header">
    <% general.navigazione.voci && general.navigazione.voci.each do |voce| %>
      <% if voce.dropdown %>
        <div class="div-link">
          <span data-offset="-160" class="menu-item"><%= voce.etichetta %> <i class="fa fa-caret-down"></i></span>
          <div class="dropdown">
            <div class="dropdown-content">
              <% voce.dropdown.each do |item| %>
                <a href="/<%= voce.slug.downcase %>/<%= item.slug.downcase %>"><%= item.etichetta %></a>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="div-link">
          <a href="/<%= voce.slug.downcase %>" data-offset="-160"><%= voce.etichetta %></a>
        </div>
      <% end %>
    <% end %>
  </div>

  <nav role='navigation' id="burger-icon">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  </div>
  <ul id="menu" class="closed-menu">
    <div class="menu-list">
      <% general.navigazione.voci && general.navigazione.voci.each do |voce| %>
        <% if voce.dropdown %>
          <div><li><%= voce.etichetta %> <i class="fa fa-caret-down"></i></li></div>
          <div class="sotto-menu">
              <% voce.dropdown.each do |item| %>
                <a href="/<%= voce.slug.downcase %>/<%= item.slug.downcase %>"><li><%= item.etichetta %></li></a>
              <% end %>
          </div>
        <% else %>
            <a href="/<%= voce.slug.downcase %>" data-offset="-90"><li><%= voce.etichetta %></li></a>
        <% end %>
      <% end %>
    </div>
  </ul>
<% end %>
