<% data.site.generals.each do |_, general| %>

<div id="header-sopra">
  <div id="interno-sinistra-h">
    <p>
      <%= rich_text(general.informazioni_orario) %>
    </p>
  </div>
  <div id="interno-destra-h">
    <ul>
      <li>
        <img src="/images/icone/maps-and-flags-green.svg" alt="icon-position"><p><%= general.informazioni_indirizzi %></p>
      </li>
      <li>
        <img src="/images/icone/envelope-green.svg" alt="icon-envelope"><p><a href="mailto:<%= general.informazioni_email %>" target="_blank"><%= general.informazioni_email %></a></p>
      </li>
      <li>
        <img src="/images/icone/call-answer-green.svg" alt="icon-phone"><p><a href="tel:<%= general.informazioni_telefono.gsub(" ", "") %>"><%= general.informazioni_telefono %></a></p>
      </li>
    </ul>
  </div>
</div>
<div id="header">
  <a href="<%= config[:host] %>/" alt="Federica Burzio - Psicologa Psicoterapeuta Torino"><img class="logo" src="<%= general.logo_principale.url %>" alt="logo-Federica-Burzio"><div class="avatar-foto"></div></a>
  <div id="link-header">
    <div class="div-link">
      <a href="<%= config[:host] %>/#contatti" data-offset="-160">Contatti</a>
    </div>
    <div class="div-link">
      <a href="<%= config[:host] %>/#info" data-offset="-160">Richiedi informazioni</a>
    </div>
    <div class="div-link">
      <a href="<%= config[:host] %>/studio" data-offset="-160">Lo Studio</a>
    </div>
    <div class="div-link">
      <a href="<%= config[:host] %>/#servizi" data-offset="-160">Di Cosa Mi Occupo <i class="fa fa-caret-down"></i></a>
      <div class="dropdown">
        <div class="dropdown-content">
          <% data.site.pages.each do |_, link| %>
            <% if link.directory && link.directory.to_str === "Di Cosa Mi Occupo" %>
              <a href="/<%= link.directory.downcase.gsub(' ', '-') %>/<%= link.slug.downcase.gsub(' ', '-') %>"><%= link.titolo_principale.capitalize %></a>
            <% end %>
          <% end %>
            <!-- <a href="/ambiti-di-intervento/consulenza.html">Consulenza</a>
            <a href="/ambiti-di-intervento/psicodiagnosi.html">Psicodiagnosi</a> -->
        </div>
      </div>
    </div>
    <div class="div-link">
      <a href="<%= config[:host] %>/#chi-sono" data-offset="-160">Chi sono <i class="fa fa-caret-down"></i></a>
      <div class="dropdown">
        <div class="dropdown-content">
          <% data.site.pages.each do |_, link| %>
            <% if link.directory && link.directory == "Chi sono" %>
              <a href="/<%= link.directory.downcase.gsub(' ', '-') %>/<%= link.slug.downcase.gsub(' ', '-') %>"><%= link.titolo_principale.capitalize %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <nav role='navigation' id="burger-icon">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  </div>
  <ul id="menu" class="closed-menu">
    <div class="menu-list">
      <a href="<%= config[:host] %>/#chi-sono" data-offset="-90"><li>Chi sono</li></a>
      <div class="sotto-menu">
        <% data.site.pages.each do |_, link| %>
          <% if link.directory == "Chi sono" %>
            <a href="/<%= link.directory.downcase.gsub(' ', '-') %>/<%= link.slug.downcase.gsub(' ', '-') %>" data-offset="-90"><li><%= link.titolo_principale.capitalize %></li></a>
          <% end %>
        <% end %>
      </div>
      <a href="<%= config[:host] %>/#servizi" data-offset="-90"><li>Di Cosa Mi Occupo</li></a>
      <div class="sotto-menu">
        <% data.site.pages.each do |_, link| %>
          <% if link.directory == "Di Cosa Mi Occupo" %>
            <a href="/<%= link.directory.downcase.gsub(' ', '-') %>/<%= link.slug.downcase.gsub(' ', '-') %>" data-offset="-90"><li><%= link.titolo_principale.capitalize %></li></a>
          <% end %>
        <% end %>
      </div>
      <a href="<%= config[:host] %>/studio" data-offset="-90"><li>Lo Studio</li></a>
      <a href="<%= config[:host] %>/#info" data-offset="-90"><li>Richiedi informazioni</li></a>
      <a href="<%= config[:host] %>/#contatti" data-offset="-90"><li>Contatti</li></a>
    </div>
  </ul>
<% end %>
