<% data.site.homePages.each do |_, page| %>

<!-- HOME -->
<main>
	<section id="sezione-a" class="grid">

		<!-- EFFETTO FOGLIE -->
		<div class="set">
			<div><img src="/images/icone/leaf3.png"></div>
			<div><img src="/images/icone/leaf2.png"></div>
			<div><img src="/images/icone/leaf3.png"></div>
			<div><img src="/images/icone/leaf4.png"></div>
			<div><img src="/images/icone/leaf5.png"></div>
			<div><img src="/images/icone/leaf6.png"></div>
			<div><img src="/images/icone/leaf7.png"></div>
      <div><img src="/images/icone/leaf8.png"></div>
			<div><img src="/images/icone/leaf2.png"></div>
			<div><img src="/images/icone/leaf9.png"></div>
			<div><img src="/images/icone/leaf10.png"></div>
			<div><img src="/images/icone/leaf11.png"></div>
			<div><img src="/images/icone/leaf12.png"></div>
			<div><img src="/images/icone/leaf1.png"></div>
		</div>

		<!-- FINE EFFETTO FOGLIE -->
		<div class="content-wrap" id="header-content">
      <h1><%= rich_text(page.h1_titolo_principale) %></h1>
      <p><%= page.sottotitolo %></p><a href="#info" data-offset="-160">
			<button type="submit" class="btn-white"><%= page.tasto_principale %></button></a>
		</div>
	</section>

	<!-- MAIN -->
	<div class="box">
		<!-- CHI SONO -->
		<section id="chi-sono" class="grid">
			<div class="content-wrap">
				<div class="div-sinistra">
					<img class="foto-Fede" src="<%= page.sezione1_foto['url'] %>" alt="foto-Federica-Burzio">
				</div>
				<div class="testo div-destra">
					<h2><%= page.sezione1_etichetta %></h2>
					<h3><%= rich_text(page.sezione1_titolo) %></h3>
					<hr>
					<p><%= rich_text(page.sezione1_testo) %></p>
          <a href="/chi-sono/formazione.html" data-offset="-160"><button type="button" class="btn-green"><%= page.sezione1_tasto1_testo %></button></a>
          <a href="/chi-sono/pensiero.html" data-offset="-160"><button type="button" class="btn-green"><%= page.sezione1_tasto2_testo %></button></a>
				</div>
			</div>
		</section>
		<!-- SERVIZI -->
		<section id="servizi">
      <div class="grid">
  			<div class="content-wrap">
  				<div class="testo-wrap div-sinistra">
  					<div>
  						<h2><%= page.sezione2_etichetta %></h2>
  						<h3><%= page.sezione2_titolo %></h3>
  						<hr>
              <p>
              <%= rich_text(page.sezione2_testo) %></p>
  					</div>
  				</div>
  				<div class="div-destra">
  					<div class="servizi">
  						<ul>
  							<a href="/ambiti-di-intervento/sostegno-psicologico.html"><li><%= page.sezione2_link1 %></li></a>
  							<a href="/ambiti-di-intervento/consulenza.html"><li><%= page.sezione2_link2 %></li></a>
                <a href="/ambiti-di-intervento/psicodiagnosi.html"><li><%= page.sezione2_link3 %></li></a>
  						</ul>
  					</div>
  				</div>
  			</div>
      </div>
		</section>
    <div class="target_container">
      <div class="container_centered">
        <h3><%= page.sezione3_titolo %></h3>
        <hr>
        <div class="icons_container">
          <div class="target_item_container">
            <div class="target_icon"></div>
            <h5 class="target_title"><%= page.sezione3_icona1_titolo %></h5>
          </div>
          <div class="target_item_container">
            <div class="target_icon"></div>
            <h5 class="target_title"><%= page.sezione3_icona2_titolo %></h5>
          </div>
          <div class="target_item_container">
            <div class="target_icon"></div>
            <h5 class="target_title"><%= page.sezione3_icona3_titolo %></h5>
          </div>
          <div class="target_item_container">
            <div class="target_icon"></div>
            <h5 class="target_title"><%= page.sezione3_icona4_titolo %></h5>
          </div>
        </div>
      </div>
    </div>

		<!-- FORM -->
		<section id="info" class="grid">
			<div class="content-wrap">
				<div class="testo-wrap testo div-destra">
					<h2><%= page.sezione4_etichetta %></h2>
					<h4><%= rich_text(page.sezione4_titolo) %></h4>
					<hr>
					<p><%= rich_text(page.sezione4_testo) %></p>
				</div>
				<div class="div-sinistra">
					<form method="post" action="send_form_email.php">
					  <div class="nome">
	            <input type="text" name="nome" placeholder="Nome *" required>
	          </div>
            <div class="nome div-sinistra">
	            <input type="text" name="tel" placeholder="Telefono *" required>
	          </div>
	          <div class="email div-destra">
	            <input type="email" name="email" placeholder="Indirizzo Email">
	          </div>
	          <div class="messaggio">
	            <textarea name="messaggio" cols="50"rows="8" placeholder="Messaggio *" required></textarea>
	          </div>
	          <div class="disclaimer">
              <label class="switch">
              <input type="checkbox" required>
              <span class="slider round"></span>
            </label>
              <p>Dichiaro di aver preso visione dell'<a href="privacy.html"><u>informativa sul trattamento dei dati personali</u></a>.*</p>
          </div>
          <div class="form-end">
            <p>* Campi obbligatori</p>
	          <button type="submit" value="Invia Messaggio" class="btn-green">Invia messaggio</button>
            </div>
	        </form>
				</div>
			</div>
		</section>

		<!-- CONTATTI -->
		<section id="contatti" class="grid">
			<div class="content-wrap">
				<div class="div-sinistra">
					<ul>
						<li>
              <h2><%= page.contatti_etichetta %></h2>
            </li>
						<li>
							<%= rich_text(page.contatti_testo) %>
						</li>
						<hr>
						<li>
							<img src="/images/icone/envelope.svg" alt="icon-envelope"><p><a href="mailto:<%= page.contatti_email %>" target="_blank"><%= page.contatti_email %></a></p>
						</li>
						<li>
							<img src="/images/icone/call-answer.svg" alt="icon-phone"><p><a href="tel:<%= page.contatti_telefono.gsub(' ', '') %>"><%= page.contatti_telefono %></a></p>
						</li>
					</ul>
            <div id="map-btn"><button class="map-btn-single active" id="torino"><img src="/images/icone/maps-and-flags.svg" alt="icon-position"><%= page.contatti_indirizzo1 %></button><button class="map-btn-single" id="chieri"><img src="/images/icone/maps-and-flags.svg" alt="icon-position"><%= page.contatti_indirizzo2 %></button></div>
				</div>

			<!-- GOOGLE MAPS -->
				<div class="div-destra">
					<div id="map">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=Via%20Don%20Giovanni%20Minzoni%2C%202%2010121%20Torino%20TO&key=AIzaSyAvMMUbUBXr4WEtSIYgrUZq3HMWEmzEKTw" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>

	<!-- FINE MAIN -->
	</div>
</main>
<% end %>
